.upper-b{height: 600px; background: url(106872.jpg)white  no-repeat center center fixed ; background-size: 100% 100%; background-position: top; background-repeat: no-repeat;}
.top{margin-left: 1000px; font-family: cursive; font-size: 20px;}
.middle{font-weight: 1000; font-size: 25px}
h3{color: darkred; font-family: cursive}
h4{color: darkred}
.hi{font-size: 50px; color: darkred}
.contact{font-size: 30px;}
.abt{font-size: 30px}
h1{color: darkred; }
.button-mail{font-size: .8em; text-align: center; display: block; position: relative; padding: .75em 2em .75em 3.5em; margin: 1.5em 0 0; font-family:  "brandon-grotesque","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif; font-size: 15px; font-weight: 1000; width: 300px; margin-left: 500px; height: 45px; text-align: center; opacity: 1; transition: 0.3s; border-radius: 12px}
.button-mail{background-image: url(http://seanhalpin.io/assets/img/content/home/contact/mail.png);  background-repeat: no-repeat; background-position: 10%; border-width: 1px; background-color: darkred}
body{font-size: 20px; color: bl; font-family: cursive;}
.words-mail{margin-left: 450px}
.button-mail:hover {opacity: 0.8;}
.whatsapp-btn{background-color: forestgreen; width: 300px; text-align: center; border-radius: 12px; font-weight: 1000; height: 40px; margin-left: 320px; opacity: 1; transition: 0.3s}
.whatsapp-btn:hover{opacity: 0.8}
.words-fb{margin-left: 350px}
.top-abt{margin-left: 0px; font-size: 20px; font-family: cursive;}
.middle{font-weight: 1000; font-size: 25px}
.top{margin-left: 1000px}